<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <div class="container">

      <ul class="topnav">
        <li><a class="active" href="/">Vinyl</a></li>
      </ul>

      <div class="jumbotron text-center">
        <h1><span></span>Welcome to Vinyl!</h1>
        <br></br>
        <h4><span></span>Please sign in, or create a new account:</h4>
        <a href="/signIn" class="btn btn-default"><span class="fa fa-user"></span> Sign In</a>
        <a href="/signUp" class="btn btn-default"><span class="fa fa-user"></span> Sign Up</a>
        <br></br>
        <br></br>
      </div>

    </div>
  </body>
</html>
