<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl : Profile Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>

    <h1><%= user.name %></h1>
    <em>Email: <%= user.localemail %></em>
    <br>
    <em>Password: <%= user.localpassword %></em>
    <br>
    <em>Date Joined: <%= user.joinDate %></em>

    <h2>Reviews</h2>

    <!-- TODO: implement album reviews -->

  </body>
</html>
